.base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: black;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bolder;
  padding-left: 20px;
}

.current-value {
  font-weight: bold;
  padding: 0px 20px;
}

@media all and (max-width: 675px) {
  .logo {
    display: none;
  }
  .base {
    justify-content: center;
  }
}
